.foot-ball-updates{
    h4{
        color: #04aa6d;
        text-align: center;
    }
}
.soccer-leagues {
    display: flex;
    align-items: center;
    justify-content: SPACE-EVENLY;
    background: #e6e8e9;
    height: 7vh;
    margin-bottom: 1%;
    border-radius: 35px;
}

.active {
    color: green;
}
a{
    text-decoration: underline;
}
a.active{
    text-decoration: none;
    color: blue;
}
button {
    border: none;
}

button.active {
    background: #04aa6d;
    color: #fff;
}

.button:hover,
button:hover {
    opacity: 0.7;
    font-weight: normal;
}

#soccerLeaguesTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 30px;

    th {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        background-color: hsl(227.6deg 57.72% 33.54% / 69.9%);
        color: #ffffff;
    }

    tr {
        background: #fdf6f6;
    }

    tr:hover {
        background: rgb(160, 156, 156);
    }

    th,
    td {
        border: 1px solid #ddd;
        font-size: 10px;
        padding: 8px;
    }
}