.foot-ball-updates{
    h4{
        color: #04aa6d;
        text-align: center;
    }
}
.soccer-leagues {
    display: flex;
    align-items: center;
    justify-content: SPACE-EVENLY;
    background: linear-gradient(263deg, #efdada, #f6faff);
    height: 7vh;
    margin-bottom: 1%;
    border-radius: 35px;
}

.active {
    color: green;
    background: rgb(155, 48, 48);
}
a{
    text-decoration: underline;
}
a.active{
    text-decoration: none;
    color: blue;
}
button {
    height: 5vh;
    width: auto;
    color: green;
    background: linear-gradient(white, rgb(143, 143, 143));
}

button.active {
    background: #04aa6d;
    color: #fff;
}

.button:hover,
button:hover {
    opacity: 0.7;
    font-weight: normal;
}

#soccerLeaguesTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    th {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        background-color: hsla(130, 80%, 40%, 0.699);
        color: #ffffff;
    }

    tr {
        background: #fdf6f6;
    }

    tr:hover {
        background: rgb(160, 156, 156);
    }

    th,
    td {
        border: 1px solid #ddd;
        font-size: 10px;
        padding: 8px;
    }
}